.App {

}

.choice {
  margin-bottom: 10px;
}

.filler {
  text-align: center;
  margin-bottom: 10px;
}

form {
  max-width: 500px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}

form .item:not(:last-child) {
  margin-bottom: 15px;
}

.item {
  display: grid;
  grid-template-areas: 
  "label input"
  ". error";
  grid-template-columns: auto 1fr;
  gap: 0 15px;
}

.item-label {
  grid-area: label;
}

.item-input {
  grid-area: input;
}

input[type="checkbox"] {
  margin: 0 0 0 10px;
  transform: scale(1.2);
}

.checkbox {
  margin-bottom: 10px;
}

.error {
  grid-area: error;
  color: #bf1650;
}

.error::before {
  display: inline;
  content: "⚠ ";
}

.radio {
  margin-bottom: 10px;
}

